<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Petition</title>
</head>
<body>

    <div class="container">
    <header>
        <img src="amazon.jpg" class="logo" alt="logo">
        <nav class="navbar">
            <ul>
                <li><a href="">Petition</a></li>
                <li><a href="#">Signers</a></li>
                <li><a href="#">Log Out</a></li>
            </ul>
        </nav>
    </header>

        {{{body}}}

<footer>"There is no copyright here. Feel free to use!"</footer>
    </div>

        


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/script.js"></script>
</body>
</html>