<div class="b-img">
<img src="/petition2.jpg" alt="pic">
<div id="img-text">
 
  <p>We all know that <strong>amazon sucks</strong>! </p>
  <p>The working condition there is awful</p>
  <p>and it destroys local businesses </p>
    


  <h3>Lets boycott amazon and support locals...</h3>
</div>
</div>


<div class="signature">

    <h1>Please sign the petition!</h1>

   {{#if error}}
            <h3>Something went wrong. Please enter your inforamtion again!</h3>
    {{/if}}



 
 <form class="canvas" method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}" />
            {{!-- <input type="text" name="firstName" placeholder="First Name" />
            <input type="text" name="lastName" placeholder="Last Name" /> --}}
            <canvas id="sign"  height="200" width="500"></canvas>
            <input id="dataField" type="hidden" name="data" value="">
            <button>Submit</button>
        </form>

        </div>
