 <form method="POST">
            <input type="text" name="firstName" placeholder="First Name" />
            <input type="text" name="lastName" placeholder="Last Name" />
            <canvas id="sign" height="150" width="200" style="border: 2px solid black;"></canvas>
            <input id="dataField" type="hidden" name="data" value="">
            <button>Submit</button>
        </form>
