{{#if error}}
<h3>Something went wrong. Please enter your inforamtion again!</h3>
{{/if}}

<h1>We would like to know more about you. Do you trust us to give more inforamtionof you?!</h1>


 <form method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}" />
            <input type="number" name="age" placeholder="Age" />
            <input type="text" name="city" placeholder="City" />
            <input type="text" name="url" placeholder="Home Page" />
          
           
            <button>Continue</button>
        </form>


        <h2>If you don't want, we understand your concerns!</h2>
        <h2><a href = "/petition">You can skip this step!</a></h2>