{{#if error}}
<h3>Something went wrong. Please register again!</h3>
{{/if}}

<h1>Join Our Campaign Today!</h1>

 <form method="POST">
            {{!-- <input type="hidden" name="_csrf" value={{csrfToken}} /> --}}
            <input type="text" name="firstName" placeholder="First Name" />
            <input type="text" name="lastName" placeholder="Last Name" />
            <input type="text" name="email" placeholder="Email Address" />
            <input type="password" name="password" placeholder="Password" />
           
            <button>Sign Up</button>
        </form>