
<div class="b-img">
<img src="/pic.jpeg" alt="pic">
<div id="img-text">
    <p>Amazon is everywhere like an octopus.</p>
   <p>But we all know that <strong>amazon sucks</strong>! </p>
  <p>The working condition there is awful</p>
  <p>and it destroys local businesses </p>
    


  <h3>Lets boycott amazon and support locals...</h3>
</div>


</div>


<div class="register">
    
<h1>Join Our Campaign Today!</h1>
    

{{#if error}}
<h3>Something went wrong. Please register again!</h3>
{{/if}}



 <form method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}" />
            <input type="text" name="firstName" placeholder="First Name" />
            <input type="text" name="lastName" placeholder="Last Name" />
            <input type="text" name="email" placeholder="Email Address" />
            <input type="password" name="password" placeholder="Password" />
           
            <button>Sign Up</button>
        </form>



        <p>Are you already registered? <a href="/login">Log in to your account!</a></p>
</div>



