<div>Thanks for your support</div>

<img src={{signatureUrl}} alt="signature">


<p>until now {{numberofSignatures}} people signed this beautiful petition.</p>

<a href="/petition/signed">See all the like minded people in this planet!</a>

  <form action="/signature/delete" method="POST">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <button>Delete Signature</button>
  </form>


