

  

<div class="thanks-page">
  <h1>Thank you for your signature!</h1>


<img  src={{signatureUrl}} alt="signature">

 <form action="/signature/delete" method="POST">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <button>Delete Signature</button>
  </form>


</div class="edit">

<div id="sign">
  <div >
    <h2>The world needs more people like you!</h2>
  <h2><a href="/petition/signed">See {{numberofSignatures}} other like minded people who signed this petition.</a></h2>
<h2><a href="/profile/edit">Edit your profile</a></h2>

  </div>

<img id="second-img" src="/am.jpg" alt="pic">
 
</div>






