* {
    font-size: large;
    font-family: ember;
    margin: 0;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 100px 1fr 40px;
    height: 100vh;
    width: 100vw;
    background-color: #dedee6;
}

header {
    background-color: #131921;
}

.logo {
    /* width: 100px; */
    height: 70px;
    width: 150px;
    border-radius: 5px;
    margin-top: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
    display: inline;
}

li a {
    /* display: flex; */
    color: white;
    text-align: center;
    padding: 14px 16px;
}
li a:hover {
    background-color: #fe9800;
}

footer {
    background-color: #37475a;
    color: white;
}

.navbar {
    width: 300px;
    float: right;
    margin-top: 30px;
}
